<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Transaction</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
<body class="body-color">

   <!-- HEADER SECTION -->
   <header class="hero-dash">
    <div class="logo-dash">
    <a href="{{url_for ('index') }}"><img src="../static/images/Photoroom-20241204_211017~2.png" alt="FinanceTracker Logo"></a> 
   </div>
    <!-- NAVBAR -->
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="{{url_for ('index') }}">Home</a></li>
        <li><a href="{{url_for ('dashboard') }}">Dashboard</a></li>
        <li><a href="{{url_for ('analytics') }}">Analytics</a></li>
        <li><a href="{{url_for ('addtransaction') }}">Add Transaction</a></li>
        <li><a href="{{url_for ('viewtransaction') }}">View Transaction</a></li>
        <li><a href="{{url_for ('profile') }}">Profile</a></li>
      </ul>
    </nav>

  <div class="container-add">
    <!-- Form Section -->
     <h1>Add Trannsaction</h1>
    <form action="#" method="POST" class="transaction-form">
      <div class="form-add">
        <label for="transaction-date">Date:</label>
        <input type="date" id="transaction-date" name="transaction-date" required>
      </div>
      <div class="form-add">
        <label for="transaction-type">Type:</label>
        <select id="transaction-type" name="transaction-type" required>
          <option value="income">Income</option>
          <option value="expense">Expense</option>
        </select>
      </div>
      <div class="form-add">
        <label for="transaction-category">Category:</label>
        <input type="text" id="transaction-category" name="transaction-category" placeholder="e.g., Rent, Salary" required>
      </div>
      <div class="form-add">
        <label for="transaction-amount">Amount:</label>
        <input type="number" id="transaction-amount" name="transaction-amount" placeholder="e.g., 100.00" required>
      </div>

      <div class="form-buttons">
        <button type="submit" class="btn-submit">Save Transaction</button>
        <button type="button" class="btn-cancel" onclick="window.location.href='{{url_for('index')}}';">Cancel</button>
      </div>
    </form>
  </div>

  <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>