<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Finance Dashboard</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>

  <!-- HEADER SECTION -->
  <header class="hero-dash">
    <div class="logo-dash">
    <a href="{{url_for ('index') }}"><img src="../static/images/Photoroom-20241204_211017~2.png" alt="FinanceTracker Logo"></a> 
   </div>
    <!-- NAVBAR -->
    <nav class="navbar">
      <ul class="nav-links">
        <li><a href="{{url_for ('index') }}">Home</a></li>
        <li><a href="{{url_for ('analytics') }}">Analytics</a></li>
        <li><a href="{{url_for ('addtransaction') }}">Add Transaction</a></li>
        <li><a href="{{url_for ('viewtransaction') }}">View Transaction</a></li>
        <li><a href="{{url_for ('profile') }}">Profile</a></li>      
      </ul>
    </nav>

    <!-- Summary Section -->
    <h1 class="financy">Finance Dashboard</h1>
    <div class="row">
      <div class="card">
        <div class="card-header-1">Total Income</div>
        <div class="card-body" id="total-income">$0.00</div>
      </div>
      <div class="card">
        <div class="card-header-2">Total Expenses</div>
        <div class="card-body" id="total-expenses">$0.00</div>
      </div>
      <div class="card">
        <div class="card-header-3">Current Balance</div>
        <div class="card-body" id="current-balance">$0.00</div>
      </div>
    </div>

    <!-- Recent Transactions Section -->
    <section class="recent-transaction">
      <h2>Recent Transactions</h2>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Type</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2024-12-01</td>
            <td>Groceries</td>
            <td>Expense</td>
            <td>$50.00</td>
          </tr>
          <tr>
            <td>2024-12-02</td>
            <td>Salary</td>
            <td>Income</td>
            <td>$1000.00</td>
          </tr>
          <tr>
            <td>2024-12-03</td>
            <td>Rent</td>
            <td>Expense</td>
            <td>$500.00</td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

  <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</body>
</html>