<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body class="body-color">
     
     <!-- NAVBAR -->
  <nav class="navbar-login">
    <div class="logo-login">
        <a href="{{url_for ('index') }}"><img src="../static/images/Photoroom-20241204_211017~2.png" alt="FinanceTracker Logo"></a> 
    </div>
    <ul class="nav-links-login">
      <li><a href="{{url_for ('index') }}">Home</a></li>
      <li><a href="{{url_for ('analytics') }}">Analytics</a></li>
      <li><a href="{{url_for ('addtransaction') }}">Add Transaction</a></li>
      <li><a href="{{url_for ('viewtransaction') }}">View Transaction</a></li>
      <li><a href="{{url_for ('profile') }}">Profile</a></li>
    </ul>
  </nav>

  <div class="logout-container">
    <div class="logout-card">
      <h1>Are you sure you want to log out?</h1>
      <p>Your current session will end, and you'll be redirected to the login page.</p>
      <div class="logout-buttons">
        <a href="{{url_for('login')}}" class="btn confirm">Logout</a>
        <a href="{{url_for('profile')}}" class="btn cancel">Cancel</a>
      </div>
    </div>
  </div>

</body>
</html>