<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="{{url_for ('static', filename='css/styles.css')}}">
</head>
<body class="body-color">
    
   <!-- NAVBAR -->
   <nav class="navbar-profile">
    <div class="logo-profile">
        <a href="{{url_for ('index') }}"><img src="../static/images/Photoroom-20241204_211017~2.png" alt="FinanceTracker Logo"></a> 
    </div>
    <ul class="nav-links-profile">
      <li><a href="{{url_for ('index')}}">Home</a></li>
      <li><a href="{{url_for ('dashboard')}}">Dashboard</a></li>
      <li><a href="{{url_for ('logout')}}">Logout</a></li>
    </ul>
  </nav>

  <!-- PROFILE SECTION -->
  <section class="profile-section">
    <h1>Your Profile</h1>
    <form class="profile-form">
      <div class="form-group">
        <label for="name">Username:</label>
        <input type="text" id="name" name="name" placeholder="Enter Your Username" required>
      </div>
      <div class="form-group">
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email" placeholder="Enter Your Email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter Your password" required>
      </div>
      <div class="form-group">
        <label for="confrim-password">Confirm Password:</la bbel>
        <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirm Your Password"  required>
      </div>
      <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" placeholder="Enter Your Phone Number (Optional)">
      </div>
      <div class="form-group">
        <label for="address">Address:</label>
        <textarea id="address" name="address" placeholder="Enter Your Address required"></textarea>
      </div>
      <div class="form-buttons">
        <button type="submit" class="update-button">Update Profile</button>
        <button type="reset" class="reset-button">Reset</button>
      </div>
    </form>
  </section>

</body>
</html>